.card {
  position: relative;
  border: 1px solid #f3f3f3;
  padding: 20px;
  width: 210px;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
    
    .plus{
        cursor: pointer;
    }

  
    &:hover {
      // box-shadow: 0px 14px 30px rgba($color: #d2cdcd, $alpha: 2.0);
      box-shadow: 0px 20px 25px rgba(130, 128, 128, 0.3);
      transform: translateY(-5px);
    }
  
    .favorite {
      position: absolute;
      cursor: pointer;
      top: 13px;
      left: 15px;
      
    }
}
.imageContainer {
  width: 100%; /* Полная ширина карточки */
  height: 120px; /* Ограниченная высота */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Чтобы ничего не выходило за границы */
}

.productImage {
  max-width: 100%; /* Изображение не шире контейнера */
  max-height: 100%; /* Изображение не выше контейнера */
  object-fit: contain; /* Сохраняет пропорции без обрезки */
  display: block;
}
  
    span {
      font-size: 13px;
      opacity: 0, 5;
  
    }
  
    b {
      font-size: 13px;
    }
  
    h5 {
      font-weight: 400;
      font-size: 14px;
    }
  
  
  .button {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
  
  
  .cartEmpty {
    text-align: center;
  
    p {
      width: 280px;
      line-height: 24px;
    }
  
    .greenButton {
      width: 245px;
      margin-top: 20px;
  
      &:hover {
        img {
          transform: rotate(180deg) translateX(3px);
        }
      }
  
      img {
        position: relative;
        top: 1px;
        transform: rotate(180deg);
        margin-right: 15px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }